* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: #d4f8d8 !important;
}

.header {
  background-color: #79ac78;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
}
.header .logo img:hover {
  transform: scale(1.1);
}

.header .nav-links {
  list-style: none;
}
.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links .link-p {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: rgb(222, 248, 234);
  text-decoration: none;
  text-transform: uppercase;
}
.header .nav-links li .link-p:hover {
  color: #618264;
}
.active {
  color: red;
}
h1 {
  color: #445d48 !important;
  text-align: center;
  font-size: 65px !important;
  font-family: "Poppins", sans-serif;
}
h2 {
  color: #618264 !important;
  font-size: 50px !important;
  text-align: left;
  font-family: "Poppins", sans-serif;
}
h3 {
  color: #618264 !important;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.slogan {
  align-content: left;
  text-align: left;
}
button {
  background-color: #a8df8e !important;
  color: rgb(245, 255, 249) !important;
  border: none !important;
  align-content: left;
}
.button {
  margin-right: 50px;
  /* align-items: center;
  align-content: center;
  margin: 0 auto; */
}
#button-slogan {
  width: 150px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}
button:hover {
  background-color: #79ac78 !important; /* Color de fondo cuando se pasa el cursor */
}
/* html,
body {
  background-color: #f5fffa !important;
} */
p {
  color: #79ac78;
  font-family: "Poppins", sans-serif;
}
#card:hover {
  transform: scale(1.1);
}
#home-info {
  border-color: white;
  background-color: rgb(144, 206, 106);
  height: 110px;
  align-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-left: 20px;
}
.home-info-text {
  text-align: center;
  margin-top: 10px;
  color: #ffffff;
}
#text-input {
  background-color: white;
  width: 500px;
  height: 205px;
}

.corrected-text {
  align-content: center;
  background-color: white;
  width: 500px !important;
  height: 205px;
  margin-top: 40px;
  border-radius: 8px;
}
